<table>
  <thead>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
</thead>
<tbody>
  <% item.products.each do |pr|%>
    <tr>
      <td><%=link_to pr.name, product_path(pr.id)%></td>
      <td><%=OrderProduct.find_by(product_id: pr.id, order_id: item.id).quantity%></td>
      <td>$<%= '%.2f' %(OrderProduct.find_by(product_id: pr.id, order_id: item.id).subtotal)%></td>
    </tr>
  <%end%>
</tbody>
</table>
