<% if @order.errors.messages.length > 0 %>
<section>
  <h2> Something went wrong</h2>
  <ul>
    <%@order.errors.messages.each do |field, problems| %>
      <% problems.each do |problem| %>
        <li>
          <%= field %>
          <%= problem %>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
<%end%>

<section>
  <h1 class="text-center">Checkout</h1>
    <%=render partial: 'form'%>
</section>
