<h2>Our Valued Merchants (Click to see their products)</h2>

<% @merchants.each do |merchant|%>
  <%= link_to merchant.username, merchant_path(merchant)%>
  <%= "  (these will just be one link IRL)  "%>
  <%= link_to "See #{merchant.username}'s products", merchant_products_path(merchant)%>

  <br/>
<% end %>
