
<section>

<h3 class="text-center">Owl City Shops</h3>

<% if @merchants.length > 0 %>
  <% @merchants.each do |merchant|%>
  <%= link_to merchant.username, merchant_products_path(merchant) %>
  <% end %>
<% end %>
</section>
