/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.flash {
  color: green;
  font-size: 2rem;
}

footer{
  border-top: 1px solid black;
}
#search-button{
  width: 80%;
}
#search-field{
  width: 80%;
}
#star-image{
  width: 20px;
}

li{
  list-style: none;
}

.orbit img{
  height: 300px;
}

.orbit img{
  width: 300px;
  height: 300px;
}

.product_info{
  float: left;
  margin: 2% 2% 2% 2%;
}

input#quantity{
  width: 60px;
}

form#new_product.new_product, .edit_product, .edit_order, .new_category{
  width: 60%;
  margin-left: 20%;
}
form#search-form{
width: 100%;
}
form#new_review.new_review{
  width: 60%;
  margin-left: 0%;
}
input#review_review_text{
    width: 100%;
    height: 100px;
}
