<h2> List of Categories </h2>

<div>
  <ul class="categories">
    <% @categories.each do |category| %>
    <li>
      <%= link_to category[:name], category_path(category.id) %>
    </li>
    <% end %>
  </ul>
</div>
