<h2> List of Categories </h2>

<div class="category">
  <ul class="row small-up-2 large-up-3 categories">
    <% @categories.each do |category| %>
    <li class = "column">
      <div>
      <h4 class="text-center"><%= link_to category[:name], category_path(category.id) %></h4>
    </div>
    </li>
    <% end %>
  </ul>
  <%= button_to "New Category", new_category_path, :method => :get%>
</div>
